.aboutCont{
  padding-top:70px; 
  font-size:1.55rem;
  background: #F7F1EB;
  height: 100%;
 
}

.width{
  max-width: 1350px;
  margin: auto;
  padding-bottom:50px
}

.dawneshia{
  float:left; 
  margin:10px; 
  border: 1px  solid #955465;
  width: 300px;
  line-height: 2.5rem
}

.janell{
  float:right; 
  margin:10px; 
  border: 1px  solid #955465;
  width: 300px;
  line-height: 2.5rem
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  .width{
    display:flex;
    flex-direction: column;
  }

  .dawneshia{
  float:none; 
  margin:auto; 
 
}

.janell{
  float:none; 
  margin:auto; 

}

}