* {
  padding: 0;
  margin: 0;
  border: 0;
}

.width{
  max-width: 1350px;
  margin: auto;
  padding-bottom:50px
}

.home {
  padding-top: 50px;
}

.box1 {
  background-image: url('../../assetts/coffeetable.jpg');
  background-size: cover;
  height: 50vh;
  margin: 15px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.box2 {
  background-image: url('../../assetts/stuff.JPG');
  background-size: cover;
  background-position: -19px;
  height: 50vh;
  margin: 15px;
  min-width: 250px;
  display: flex;
}

.box3 {
  background-image: url('https://images.unsplash.com/photo-1523865236457-3ae3358a4eaa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
  background-size: cover;
  background-position: -130px;
  /* repeat: no-repeat; */
  height: 50vh;
  margin: 15px;
  display: flex;
}

i{
  font-size:3rem;
  margin: 10px
}

a{
  text-decoration:none;
}

a:hover 
{
    
     text-decoration:none; 
     cursor:pointer; 
     color:#FC63DD 
    
}

.swiper-button-next{
  background-image: url("../../assetts/chevron-right.png")

}
.swiper-button-prev{
  background-image: url("../../assetts/chevron-right.png");
  transform: rotate(180deg)
}

.swiper-pagination-bullet-active{
  background:#955465
}

