* {
  margin: 0px;
  padding: 0px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  background-color: #ebe3d8;
  padding: 0px 25px 5px 20px;
  position: fixed;
  width: 100%;
  z-index: +4;
}

.navlinks {
  display: flex;
  font-size: 1.2rem;
  justify-content: space-around;
  width: 600px;
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #955465;
}

.burger {
  display: none;
}

.burger div {
  width: 30px;
  height: 5px;
  background-color: #955465;
  margin: 5px;
  transition: all 0.9s ease;
}

@media screen and (max-width: 1000px) {
  body {
    overflow-x: hidden;
  }
  .navlinks {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8.6vh;
    display: flex;
    flex-direction: column;
    background-color: #ebe3d8;
    width: 300px;
    font-size: 1.4rem;
    align-items: center;
    transition: all ease 1s;
    display: none
    
  }
  @keyframes fade {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  /* .navlinks li {
    opacity: 0;
  } */
  .burger {
    display: block;
    cursor: pointer;
  }
}

.nav-active {
  z-index: 5;
  display: flex;
}

.navLinkFade {
  animation: opac 1s;
}

@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.noline2 {
  opacity: 0;
}

.angleline1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.angleline3 {
  transform: rotate(45deg) translate(-6px, -6px);
}
