* {
  margin: 0px;
  padding: 0px;
}

.logo{
  /* display: flex;
  flex-direction:column;
  justify-content:center; */
  background: #FFF9F3;
  font-family: 'Great Vibes', cursive;
  font-size: 1.9rem;
  height:150px
}

.logoImg{
  width: 300px;
  /* border: #955465 1px solid; */
  position: relative;
  top: -100px
}

.pc{
  margin:0px;
  padding:0px;
  margin-top:20px
}

.pink{
  color: #955465;
  font-size:7.5rem;


}

nav {
  display: flex;
 flex-direction: column;
  align-items: center;
  min-height: 8vh;
  background-color: #ebe3d8;
  padding: 0px 25px 5px 20px;
  position: fixed;
  width: 100%;
  z-index: +4;
}

.navlinks {
  display: flex;
  font-size: 1.8rem;
  justify-content: space-evenly;
  flex-direction:row;
  width: 80%;
  margin: auto;
  text-decoration: none;
  color: black;
  /* border: 1px solid black */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #955465;
}

.fa-bars{
  font-size:2rem

}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .navlinks {
    display: flex;
    font-size: 1.8rem;
    justify-content: space-evenly;
    flex-direction:column;
   
  }
}